.row
  .large-3.columns
    = form_for @teacher, :url => teachers_path, :remote => true do |f|
      = f.label :email
      = f.text_field :email
      = f.label :first_name
      = f.text_field :first_name, :autofocus => true
      = f.label :last_name
      = f.text_field :last_name
      = f.label :password
      = f.password_field :password
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      = button_to_function('Cancel', 'cancel_teacher_form()', :class => 'button tiny radius alert')
      = f.submit "Create Account", :class => 'button tiny radius success'
  .large-9.columns