<div class='row'>
    <div class='nav-bar left'>
      <div class='header'>
      <h1 class='subheader'>Gradr</h1>
      </div>
    </div>
    <div class='nav-bar right'>
      <ul class='button-group'>
        <li><%== login_nav %></li>
      </ul>
    </div>
</div>
<div class='row'>
  <div class='tabbable'>
    <ul class="nav nav-tabs">
      <li><%= link_to "Home", root_path, :class => 'tabs', :remote=>true %></li>
      <li><%= link_to "My Classes", klasses_path, :class => 'tabs', :remote=>true %></li>
      <li><%= link_to "My Assignments", assessments_path, :class => 'tabs', :remote=>true %></li>
      <li><%= link_to "My Students", students_path, :class => 'tabs', :remote=>true %></li>
      <li><%= link_to "My Chart", chart_path, :class => 'tabs', :remote => true %></li>
    </ul>
  </div>
</div>


