<!DOCTYPE html>
<html>
<head>
  <title>Gradr</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'layouts/nav' %>
  <div id='container'>
    <%= yield %>
  </div>
  <%= render :partial => 'layouts/footer' %>

</body>
</html>
