.row
  .large-6.columns
    %h4= "#{@klass.name}, Period #{@klass.period}"
  .large-6.columns
    %h5= "Teacher: #{@klass.teacher.first_name} #{@klass.teacher.last_name}"
.row
  .large-6.columns
    %h4 Roster
    %table
      %tr
        %td First Name
        %td Last Name
        - @klass.students.each do |student|
          %tr
            %td= student.first_name
            %td= student.last_name
  .large-6.columns
    %h4 Assessments
    %table
      %tr
        %td Name
        %td Average
        - @klass.assessments.each do |assessment|
          %tr
            %td= assessment.name
            %td= assessment.average
